#titleAndScoreDiv{
  width:  90%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Baloo Bhaina', cursive;
  margin-bottom: -25px;
  font-size: 1.8em;
}

h1{
    flex: 16 0 0;
    text-align: center;
}

p{
  font-size: 0.5em;
  flex: 1 0 0;
}

#canvasDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

audio{
  display: none;
}



@media (max-width: 800px){
  #titleAndScoreDiv{
   font-size: 1em;
   width: 600px;
  }

  h1{
      flex: 10 0 0;
      text-align: center;
  }

  p{
    flex: 1 0 0;
    font-size: 0.8em;
  }

  #canvas{
    width: 100%;
    height: 565px;
  }

#canvasDiv{
  width: 90%;
}

}
