body {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'Space Mono', monospace;
  font-family: 'Nova Oval', cursive;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 1em;
  padding: 0;

}

h1, div {
  align-self: center;
}

p {
  position: absolute;
  right: -120px;
  bottom: 20px;

}

#mainDiv{
  margin-top: -10px;
}

#titleAndScoreDiv{
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


canvas{
  margin-top: -20px;
}
